/* General and Body style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body  {
    display: flex;
    justify-content: center;
    background: #FFF7F1;
    font-family: 'DM Sans', sans-serif;
    
}

/* Form style */
.form {
    margin-top: 10rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    width: 25rem;
    background: #F2EFE5;
    border-radius: .625rem;
}

/* Input and placeholder style */
.input {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    border-radius: .625rem .625rem 0 0;
    border: none;
    font-size: 20px;
    font-weight: 100;
}

.input::placeholder {
    color:#C7C8CC;
}

/* Unordered list style */
.list li {
    list-style-type: none;
    padding: .9375rem;
    border-top: 1px solid #C7C8CC;
    position: relative;
}

/* Icons style */
.list li .fa-trash {
    color: #EF4040;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .625rem;
    cursor: pointer;

}

.list li .fa-check-square{
    color: #65B741;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
}

/* Checked item style */
.list li.checked {
    text-decoration: line-through;
    color: #C7C8CC;
}

.list li.checked .fa-check-square{
    color: #C7C8CC;
}

h1 {
    position: absolute;
    font-size: 80px;
    left: -10px;
    top: -30px;
    color: #C7C8CC;
    z-index: -11111;

}

h2 {
    position: absolute;
    font-size: 80px;
    right: 0px;
    bottom: 0px;
    color: #C7C8CC;
    z-index: -111111;
}

@media only screen and (max-width: 951px) {
    h1 {
        font-size: 70px;
    }
  }

